<header class="header">
    <div class="header_logo">
        <a href="https://github.com/rc-0105" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/178680469?s=400&v=4" alt="Mi perfil de GitHub">
        </a>
    </div>
    <nav class="header_nav">
        <ul class="nav-list">
            <li>
                <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li>
                <a routerLink="/documentation" routerLinkActive="active">Docs</a>
            </li>
            <li>
                <a routerLink="/diagrams" routerLinkActive="active">Diagrams</a>
            </li>
        </ul>
    </nav>
</header>